body{
    background-image: url('https://cache.careers360.mobi/media/article_images/2022/2/2/iit-kanpur-featured-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}