<html>
    <head>
        <p>Gym Form</p>
        <form action=" " method = "POST">
            {%csrf_token%}
            <label for="day_preference">Day Preference:</label>
            <select name="day_preference" id="day_preference">
                <option value="Monday">Monday</option>
                <option value="Tuesday">Tuesday</option>
                <option value="Wednesday">Wednesday</option>
                <option value="Thursday">Thursday</option>
                <option value="Friday">Friday</option>
                <option value="Saturday">Saturday</option>
                <option value="Sunday">Sunday</option>
            </select>
            <label for="time_of_day_preference">Time of Preference (bw 14:00 & 20:00):</label>
            <input type="number" id="time_of_day_preference" name="time_of_day_preference" min="14" max="20"><p style="display:inline">:00</p>
            <br>
            <input type="submit" value="Submit">
        </form>
    </head>
</html>