<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Mess</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans&amp;display=swap">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome5-overrides.min.css?h=37efe7e508357f382d0a5b2b73cd47ee' %} ">
    <link rel="stylesheet" href="{% static 'css/mess_styles.min.css?h=217e578a5d0937b6d74c8db5bd0b46a0' %} ">
    <link rel="stylesheet" href="{% static 'css/mess_style.css' %}">
    <script src="{% static 'js/mess.js' %}"></script>
</head>


{% comment %} $('#last').click(function(e)){ e.preventDefault(); var endpoint=$('#last').attr("data-url"); $.ajax({ type: 'POST', url: endpoint, data: {price_1: 1000}, success: function (data) { //this gets called when server returns an OK response alert("it
worked!"); }, error: function (data) { alert("it didnt work"); } }); }; {% endcomment %}


<body onload="MyFunc_1()">

<body style="height: 1080px;border-width: 1px;border-color: rgb(255,255,255);background: rgb(224,226,253);">
    <div class="col" style="position: sticky;top: 0;z-index: 100;">
        <div class="row">
            <div class="col">
                <!-- Start: Navigation with Search -->
                <nav class="navbar navbar-light navbar-expand-lg navigation-clean-search" style="background: #6713ef;">
                    <div class="container-fluid"><img src="{% static 'img/Untitled-1.png' %}" style="width: 50px;margin-left: -16px;"><a class="navbar-brand" href="#" style="color: rgb(255,255,255);font-size: 30px;">DigiCampus</a><button data-bs-toggle="collapse"
                            class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navcol-1">
                            <ul class="navbar-nav">
                                <li class="nav-item" style="width: 60px;height: 40px;"><button class="btn btn-primary" type="button" style="background: rgb(103,19,239);transform: scale(1.33);border-width: 0px;"><i class="fa fa-bell-o" style="transform: scale(1.33);"></i></button></li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{%url 'profile_view'  %}" style="height: 40px; padding-left: 0px"><img src="{% static 'img/ereh1.jpg' %}" style="width: 40px;border-radius: 20px;transform: translateY(0px);margin-top: -8px;border: 2px solid var(--bs-white) ;"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- End: Navigation with Search -->
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul class="nav nav-tabs" style="background: #ffffff;">
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'dashboard_view' %}" style="font-family: 'Nunito Sans', sans-serif;">
                            <i class="fas fa-border-all"></i> Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{%url 'mess_view' %}" style="font-family: 'Nunito Sans', sans-serif;">
                            <i class="fas fa-utensils"></i> Mess
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'qrcode_view' %}" style="font-family: 'Nunito Sans', sans-serif;">
                            <i class="fas fa-qrcode"></i> QR Code</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'order_list_view' %}" style="font-family: 'Nunito Sans', sans-serif;">
                            <i class="fas fa-hamburger"></i> Recent Orders
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'logout_view' %}" style="font-family: 'Nunito Sans', sans-serif;">
                            <i class="fas fa-sign-out-alt"></i> Logout
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row" style="box-shadow: 0px 1px 4px;margin-right: 0px;">
            <div class="col" style="background: #ffffff;">
                <div class="container" style="margin-left: 0px;background: rgba(255,255,255,0);">
                    <div class="btn-group" role="group"><a class="btn btn-primary" role="button" style="margin-right: 4px;" href="#menu_object">Menu</a><a class="btn btn-primary" role="button" style="margin-left: 4px;margin-right: 4px;" href="#add_extras_object">Add Extras</a><a class="btn btn-primary"
                            role="button" style="margin-left: 4px;margin-right: 4px;" href="#checkout_object">Checkout</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 30px;padding-bottom: 34px;">
        <div class="row">
            <div class="col" style="width: 440px;margin-bottom: 10px;margin-top: 10px;padding-left: 20px;">
                <div class="card" style="border-width: 0px;background: rgba(255,255,255,0);">
                    <div class="card-body d-flex flex-column align-self-start" style="background: #f5f8ff;border-radius: 28px;width: 400px;">
                        <h4 class="card-title" style="font-family: Nunito, sans-serif;font-weight: bold;font-size: 42px;margin-left: 16px;">Menu</h4>
                        <h6 class="text-muted card-subtitle mb-2" style="font-family: Nunito, sans-serif;margin-left: 16px;">TODAY'S LUNCH</h6>
                        <ul class="list-unstyled" style="max-height: 320px;margin-bottom: 0;overflow-y: auto;-webkit-overflow-scrolling: touch;width: 360px;margin-right: 16px;margin-left: 16px;">
                            <li style="width: 336px;margin-top: 8px;margin-bottom: 8px;">
                                <div class="card" style="background: rgb(179,182,252);margin-bottom: 0;margin-top: 0;border-radius: 19px;margin-left: 0;margin-right: 0;border-width: 0px;">
                                    <div class="card-header">
                                        <h5 class="mb-0" style="font-family: Nunito, sans-serif;font-weight: bold;text-align: left;">{{Main_1}}<br></h5>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text" style="font-family: Nunito, sans-serif;text-align: left;">1 serving, 100 g<br></p>
                                    </div>
                                </div>
                            </li>
                            <li style="width: 336px;margin-top: 8px;margin-bottom: 8px;">
                                <div class="card" style="background: rgb(179,182,252);margin-bottom: 0;margin-top: 0;border-radius: 19px;margin-left: 0;margin-right: 0;border-width: 0px;">
                                    <div class="card-header">
                                        <h5 class="mb-0" style="font-family: Nunito, sans-serif;font-weight: bold;text-align: left;">{{Main_2}}<br></h5>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text" style="font-family: Nunito, sans-serif;text-align: left;">1 serving, 100 g<br></p>
                                    </div>
                                </div>
                            </li>
                            <li style="width: 336px;margin-top: 8px;margin-bottom: 8px;">
                                <div class="card" style="background: rgb(179,182,252);margin-bottom: 0;margin-top: 0;border-radius: 19px;margin-left: 0;margin-right: 0;border-width: 0px;">
                                    <div class="card-header">
                                        <h5 class="mb-0" style="font-family: Nunito, sans-serif;font-weight: bold;text-align: left;">{{Main_3}}<br></h5>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text" style="font-family: Nunito, sans-serif;text-align: left;">1 serving, 100 g<br></p>
                                    </div>
                                </div>
                            </li>
                            <li style="width: 336px;margin-top: 8px;margin-bottom: 8px;">
                                <div class="card" style="background: rgb(179,182,252);margin-bottom: 0;margin-top: 0;border-radius: 19px;margin-left: 0;margin-right: 0;border-width: 0px;">
                                    <div class="card-header">
                                        <h5 class="mb-0" style="font-family: Nunito, sans-serif;font-weight: bold;text-align: left;">{{Main_4}}<br></h5>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text" style="font-family: Nunito, sans-serif;text-align: left;">1 serving, 100 g<br></p>
                                    </div>
                                </div>
                            </li>
                            <li style="width: 336px;margin-top: 8px;margin-bottom: 8px;">
                                <div class="card" style="background: rgb(179,182,252);margin-bottom: 0;margin-top: 0;border-radius: 19px;margin-left: 0;margin-right: 0;border-width: 0px;">
                                    <div class="card-header">
                                        <h5 class="mb-0" style="font-family: Nunito, sans-serif;font-weight: bold;text-align: left;">{{Main_5}}<br></h5>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text" style="font-family: Nunito, sans-serif;text-align: left;">1 serving, 100 g<br></p>
                                    </div>
                                </div>
                            </li>
                            <li style="width: 336px;margin-top: 8px;margin-bottom: 8px;">
                                <div class="card" style="background: rgb(179,182,252);margin-bottom: 0;margin-top: 0;border-radius: 19px;margin-left: 0;margin-right: 0;border-width: 0px;">
                                    <div class="card-header" style="border-width: 0px;border-radius: 19px;border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;">
                                        <h5 class="mb-0" style="font-family: Nunito, sans-serif;font-weight: bold;text-align: left;">{{Main_6}}<br></h5>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text" style="font-family: Nunito, sans-serif;text-align: left;">1 serving, 100 g<br></p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col" style="margin-top: 10px;margin-bottom: 10px;padding-right: 20px;padding-left: 20px;">
                <div class="card" style="border-width: 0px;width: 400px;background: rgba(255,255,255,0);">
                    <div class="card-body" style="background: #f5f8ff;border-radius: 28px;">
                        <a id="add_extras_object">
                            <h4 class="card-title" style="font-family: Nunito, sans-serif;font-weight: bold;font-size: 42px;margin-right: 16px;margin-left: 16px;">Add Extras</h4>
                        </a>
                        <h6 class="text-muted card-subtitle mb-2" style="font-family: Nunito, sans-serif;margin-right: 16px;margin-left: 16px;">ITEMS PAYABLE</h6>
                        <ul class="list-unstyled" style="max-height: 320px;margin-bottom: 0;overflow-y: auto;-webkit-overflow-scrolling: touch;width: 360px;margin-right: 16px;margin-left: 16px;">
                            {% comment %} <li style="width: 334px;height: 115px;margin-bottom: 8px;margin-top: 8px;">
                                <div class="cardorange">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col">
                                                <h5 class="mb-0 itemname" id="extra1">{{Extras_1}}</h5>
                                            </div>
                                            <div class="col">
                                                <h5 class="mb-0 itemqt" id="temp_quant_1">Qt. <span class="mb-0 itemqt" id="number_quant_1">&nbsp;</span></h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <p style="font-family: Nunito, sans-serif;width: 160px;text-align: left;"  >Price: <span style="font-family: Nunito, sans-serif;"  id="cost_1"> {{price_1}}<br></span><br></p>
                                                
                                            </div>
                                            <div class="col">
                                                <div class="btn-group" role="group"><button class="btn btn-primary" type="button" id="number1" style="margin-right: 20px;margin-left: 8px;" onclick="increment_value_1({{price_1}})" value="0"><i class="fa fa-plus-circle"></i></button><button class="btn btn-primary"
                                                        type="button" onclick="decrement_value_1({{price_1}})"><i class="fa fa-minus-circle"></i></button></div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </li> {% endcomment %}
                            <li style="width: 334px;height: 115px;margin-bottom: 8px;margin-top: 8px;" id="E1">
                                <div class="cardorange">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col">
                                                <h5 class="mb-0 itemname" id="extra1">{{Extras_1}}</h5>
                                            </div>
                                            <div class="col">
                                                <h5 class="mb-0 itemqt" id="temp_quant_1">Qt. <span id="number_quant_1" class="mb-0 itemqt"></span></h5>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <p style="font-family: Nunito, sans-serif;width: 160px;text-align: left;">Price: <span style="font-family: Nunito, sans-serif;"  id="cost_1"> {{price_1}}<br></p>
                                            </div>
                                            <div class="col">
                                                <div class="btn-group" role="group"><button class="btn btn-primary" type="button" id="number1" style="margin-right: 20px;margin-left: 8px;" onclick="increment_value_1({{price_1}})" value="0"><i class="fa fa-plus-circle"></i></button><button class="btn btn-primary"
                                                        type="button" onclick="decrement_value_1({{price_1}})"><i class="fa fa-minus-circle"></i></button></div>
                                                {% comment %}
                                                <script src="../mess_prof_assets/js/mess.js" type="text/JavaScript"></script> {% endcomment %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li style="width: 334px;height: 115px;margin-bottom: 8px;margin-top: 8px;" id="E2">
                                <div class="cardorange">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col">
                                                <h5 class="mb-0 itemname" id="extra2">{{Extras_2}}</h5>
                                            </div>
                                            <div class="col">
                                                <h5 class="mb-0 itemqt" id="temp_quant_2">Qt. <span id="number_quant_2" class="mb-0 itemqt"></span></h5>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <p style="font-family: Nunito, sans-serif;width: 160px;text-align: left;">Price: <span style="font-family: Nunito, sans-serif;"  id="cost_2"> {{price_2}}<br></p>
                                            </div>
                                            <div class="col">
                                                <div class="btn-group" role="group"><button class="btn btn-primary" type="button" id="number2" style="margin-right: 20px;margin-left: 8px;" onclick="increment_value_2({{price_2}})" value="0"><i class="fa fa-plus-circle"></i></button><button class="btn btn-primary"
                                                        type="button" onclick="decrement_value_2({{price_2}})"><i class="fa fa-minus-circle"></i></button></div>
                                                {% comment %}
                                                <script src="../mess_prof_assets/js/mess.js" type="text/JavaScript"></script> {% endcomment %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li style="width: 334px;height: 115px;margin-bottom: 8px;margin-top: 8px;" id="E3">
                                <div class="cardorange">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col">
                                                <h5 class="mb-0" style="font-family: Nunito, sans-serif;font-weight: bold;text-align: left;" id="extra3">{{Extras_3}}</h5>
                                            </div>
                                            <div class="col">
                                                <h5 class="mb-0 itemqt" id="temp_quant_3">Qt. <span class="mb-0 itemqt" id="number_quant_3">&nbsp;</span></h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <p style="font-family: Nunito, sans-serif;width: 160px;text-align: left;">Price: <span style="font-family: Nunito, sans-serif;"  id="cost_3"> {{price_3}}<br></p>
                                            </div>
                                            <div class="col">
                                                <div class="btn-group" role="group"><button class="btn btn-primary" type="button" id="number3" style="margin-right: 20px;margin-left: 8px;" onclick="increment_value_3({{price_3}})" value="0"><i class="fa fa-plus-circle"></i></button><button class="btn btn-primary"
                                                        type="button" onclick="decrement_value_3({{price_3}})"><i class="fa fa-minus-circle"></i></button></div>

                                                {% comment %}
                                                <script src="/Backend/templates/mess_prof_assets/js/mess.js"></script> {% endcomment %}
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </li>
                            <li style="width: 334px;height: 115px;margin-bottom: 8px;margin-top: 8px;" id="E4">
                                <div class="cardorange">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col">
                                                <h5 class="mb-0" style="font-family: Nunito, sans-serif;font-weight: bold;text-align: left; " id="extra4">{{Extras_4}}</h5>
                                            </div>
                                            <div class="col">
                                                <h5 class="mb-0 itemqt" id="temp_quant_4">Qt. <span class="mb-0 itemqt" id="number_quant_4">&nbsp;</span></h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <p style="font-family: Nunito, sans-serif;width: 160px;text-align: left;">Price: <span style="font-family: Nunito, sans-serif;"  id="cost_4"> {{price_4}}<br></p>
                                            </div>
                                            <div class="col">
                                                <div class="btn-group" role="group"><button class="btn btn-primary" type="button" id="number4" style="margin-right: 20px;margin-left: 8px;" onclick="increment_value_4({{price_4}})" value="0"><i class="fa fa-plus-circle"></i></button><button class="btn btn-primary"
                                                        type="button" onclick="decrement_value_4({{price_4}})"><i class="fa fa-minus-circle"></i></button></div>

                                                {% comment %}
                                                <script src="/Backend/templates/mess_prof_assets/js/mess.js"></script> {% endcomment %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li style="width: 334px;height: 115px;margin-bottom: 8px;margin-top: 8px;" id="E5">
                                <div class="cardorange">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col">
                                                <h5 class="mb-0 " id="extra5">{{Extras_5}}</h5>
                                            </div>
                                            <div class="col">
                                                <h5 class="mb-0 itemqt" id="temp_quant_5">Qt. <span class="mb-0 itemqt" id="number_quant_5">&nbsp;</span></h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <p style="font-family: Nunito, sans-serif;width: 160px;text-align: left;">Price: <span style="font-family: Nunito, sans-serif;"  id="cost_5"> {{price_5}}<br></p>
                                            </div>
                                            <div class="col">
                                                <div class="btn-group" role="group"><button class="btn btn-primary" type="button" id="number5" style="margin-right: 20px;margin-left: 8px;" onclick="increment_value_5({{price_5}})" value="0"><i class="fa fa-plus-circle"></i></button><button class="btn btn-primary"
                                                        type="button" onclick="decrement_value_5({{price_5}})"><i class="fa fa-minus-circle"></i></button></div>

                                                {% comment %}
                                                <script src="/Backend/templates/mess_prof_assets/js/mess.js"></script> {% endcomment %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li style="width: 334px;height: 115px;margin-bottom: 8px;margin-top: 8px;" id="E6"   >
                                <div class="cardorange" >
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col">
                                                <h5 class="mb-0" style="font-family: Nunito, sans-serif;font-weight: bold;text-align: left;" id="extra6">{{Extras_6}}</h5>
                                            </div>
                                            <div class="col">
                                                <h5 class="mb-0 itemqt" id="temp_quant_6">Qt. <span class="mb-0 itemqt" id="number_quant_6">&nbsp;</span></h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <p style="font-family: Nunito, sans-serif;width: 160px;text-align: left;">Price: <span style="font-family: Nunito, sans-serif;"  id="cost_6"> {{price_6}}<br></p>
                                            </div>
                                            <div class="col">
                                                <div class="btn-group" role="group"><button class="btn btn-primary" type="button" id="number6" style="margin-right: 20px;margin-left: 8px;" onclick="increment_value_6({{price_6}})" value="0"><i class="fa fa-plus-circle"></i></button><button class="btn btn-primary"
                                                        type="button" onclick="decrement_value_6({{price_6}})"><i class="fa fa-minus-circle"></i></button></div>

                                                {% comment %}
                                                <script src="/Backend/templates/mess_prof_assets/js/mess.js"></script> {% endcomment %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col" style="margin-top: 10px;margin-bottom: 10px;padding-left: 20px;padding-right: 20px;">
                <div class="card" style="border-width: 0px;background: rgba(255,255,255,0);">
                    <div class="card-body d-flex flex-column align-self-start" style="background: #f5f8ff;border-radius: 28px;">
                        <a id="checkout_object">
                            <h4 class="card-title" style="font-weight: bold;font-family: Nunito, sans-serif;font-size: 42px;margin-right: 16px;margin-left: 16px;">Checkout</h4>
                        </a>
                        <div class="row" style="margin-right: 16px;margin-left: 8px;">
                            <div class="col">
                                <p style="font-family: Nunito, sans-serif;" >Roll Number<br></p>
                            </div>
                            <div class="col">
                                <p style="text-align: right;font-family: Nunito, sans-serif;" id='roll_no'>{{user.profile.roll_no}}</p>
                            </div>
                        </div>
                        <div class="row" style="margin-right: 16px;margin-left: 8px;" id="test">
                            <div class="col">
                                <p style="font-family: Nunito, sans-serif;">Main Lunch <br></p>
                            </div>
                            <div class="col">
                                <p style="text-align: right;font-family: Nunito, sans-serif;">{{BDMR}}<br></p>
                            </div>
                        </div>
                        <div class="card" style="--bs-primary-rgb: 13,110,253;background: rgba(255,255,255,0);border-width: 0px;border-radius: 0px;">
                            <div class="row" style="margin-right: 4px;margin-left: 4px;">
                                <div class="col">
                                    <p style="font-family: Nunito, sans-serif;">Extras</p>
                                </div>
                                <div class="col">
                                    <p id="Total_Extras" style="text-align: right;font-family: Nunito, sans-serif;"><br></p>
                                </div>
                            </div>
                        </div>
                        <ul class="list-unstyled" style="max-height: 320px;margin-bottom: 0;overflow-y: auto;-webkit-overflow-scrolling: touch;width: 352px;margin-left: 16px;margin-right: 0px;">
                            <li id="test">
                                {% comment %} <div class="card" style="--bs-primary-rgb: 13,110,253;background: rgba(255,255,255,0);border-width: 0px;border-radius: 0px;"> {% endcomment %}
                                    <!-- <div class="row" style="margin-right: 4px;margin-left: 4px;">
                                        <div class="col">
                                            <p style="font-family: Nunito, sans-serif;">Item_1</p>
                                        </div>
                                        <div class="col">
                                            <p style="text-align: right;font-family: Nunito, sans-serif;">₹30.00<br></p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="card" style="--bs-primary-rgb: 13,110,253;background: rgba(255,255,255,0);border-width: 0px;border-radius: 0px;">
                                    <div class="row" style="margin-right: 4px;margin-left: 4px;">
                                        <div class="col">
                                            <p style="font-family: Nunito, sans-serif;">Anda Bhurji</p>
                                        </div>
                                        <div class="col">
                                            <p style="text-align: right;font-family: Nunito, sans-serif;">₹30.00<br></p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="card" style="--bs-primary-rgb: 13,110,253;background: rgba(255,255,255,0);border-width: 0px;border-radius: 0px;">
                                    <div class="row" style="margin-right: 4px;margin-left: 4px;">
                                        <div class="col">
                                            <p style="font-family: Nunito, sans-serif;">Anda Bhurji</p>
                                        </div>
                                        <div class="col">
                                            <p style="text-align: right;font-family: Nunito, sans-serif;">₹30.00<br></p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="card" style="--bs-primary-rgb: 13,110,253;background: rgba(255,255,255,0);border-width: 0px;border-radius: 0px;">
                                    <div class="row" style="margin-right: 4px;margin-left: 4px;">
                                        <div class="col">
                                            <p style="font-family: Nunito, sans-serif;">Anda Bhurji</p>
                                        </div>
                                        <div class="col">
                                            <p style="text-align: right;font-family: Nunito, sans-serif;">₹30.00<br></p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="card" style="--bs-primary-rgb: 13,110,253;background: rgba(255,255,255,0);border-width: 0px;border-radius: 0px;">
                                    <div class="row" style="margin-right: 4px;margin-left: 4px;">
                                        <div class="col">
                                            <p style="font-family: Nunito, sans-serif;">Anda Bhurji</p>
                                        </div>
                                        <div class="col">
                                            <p style="text-align: right;font-family: Nunito, sans-serif;">₹30.00<br></p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="card" style="--bs-primary-rgb: 13,110,253;background: rgba(255,255,255,0);border-width: 0px;border-radius: 0px;">
                                    <div class="row" style="margin-right: 4px;margin-left: 4px;">
                                        <div class="col">
                                            <p style="font-family: Nunito, sans-serif;">Anda Bhurji</p>
                                        </div>
                                        <div class="col">
                                            <p style="text-align: right;font-family: Nunito, sans-serif;">₹30.00<br></p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="card" style="--bs-primary-rgb: 13,110,253;background: rgba(255,255,255,0);border-width: 0px;border-radius: 0px;">
                                    <div class="row" style="margin-right: 4px;margin-left: 4px;">
                                        <div class="col">
                                            <p style="font-family: Nunito, sans-serif;">Anda Bhurji</p>
                                        </div>
                                        <div class="col">
                                            <p style="text-align: right;font-family: Nunito, sans-serif;">₹30.00<br></p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="card" style="--bs-primary-rgb: 13,110,253;background: rgba(255,255,255,0);border-width: 0px;border-radius: 0px;">
                                    <div class="row" style="margin-right: 4px;margin-left: 4px;">
                                        <div class="col">
                                            <p style="font-family: Nunito, sans-serif;">Anda Bhurji</p>
                                        </div>
                                        <div class="col">
                                            <p style="text-align: right;font-family: Nunito, sans-serif;">₹30.00<br></p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="card" style="--bs-primary-rgb: 13,110,253;background: rgba(255,255,255,0);border-width: 0px;border-radius: 0px;">
                                    <div class="row" style="margin-right: 4px;margin-left: 4px;">
                                        <div class="col">
                                            <p style="font-family: Nunito, sans-serif;">Anda Bhurji</p>
                                        </div>
                                        <div class="col">
                                            <p style="text-align: right;font-family: Nunito, sans-serif;">₹30.00<br></p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="card" style="--bs-primary-rgb: 13,110,253;background: rgba(255,255,255,0);border-width: 0px;border-radius: 0px;">
                                    <div class="row" style="margin-right: 4px;margin-left: 4px;">
                                        <div class="col">
                                            <p style="font-family: Nunito, sans-serif;">Anda Bhurji</p>
                                        </div>
                                        <div class="col">
                                            <p style="text-align: right;font-family: Nunito, sans-serif;">₹30.00<br></p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="card" style="--bs-primary-rgb: 13,110,253;background: rgba(255,255,255,0);border-width: 0px;border-radius: 0px;">
                                    <div class="row" style="margin-right: 4px;margin-left: 4px;">
                                        <div class="col">
                                            <p style="font-family: Nunito, sans-serif;">Anda Bhurji</p>
                                        </div>
                                        <div class="col">
                                            <p style="text-align: right;font-family: Nunito, sans-serif;">₹30.00<br></p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>-->
                                    <div class="row" style="margin-top: 24px;margin-right: 4px;margin-left: 4px;">
                                        <div class="col"><button class="btn btn-primary" type="button" style="width: 179.5625px;height: 45px;border-radius: 9px;" id='last' onclick="disp()" data-bs-target="#modal-1" data-bs-toggle="modal" data-bs-backdrop="static" data-bs-keyboard="false">Checkout</button></div>
                                        <div class="col">
                                            <p style="text-align: right;margin-bottom: 0px;">Total Payable</p>
                                            <p id="Final" style="text-align: right;"><br></p>
                                            <div class="modal fade" role="dialog" tabindex="-1" id="modal-1">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-body">
                                                            <p style="text-align: center; font-size:30px">Confirm your Order</p>
                                                            <ul id="add_here">
                                                            </ul>
                                                        </div>
                                                        <div class="modal-footer d-flex flex-row justify-content-xxl-center"><button class="btn btn-secondary"
                                                                type="button" style="margin-right: 36px;" onclick="confirm()"><a href="{% url 'hash_view' %}" style="color:white; text-decoration:none;">Confirm</a></button><button
                                                                class="btn btn-danger" type="button" data-bs-dismiss="modal"
                                                                style="margin-right: 36px;" onclick="cancel()">Cancel</button></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    </div>
                </div>
            </div>
        </div>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'js/script.min.js' %} "></script>
        </body>

</html>