<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
    <div id="menu">
        <h1>Weekly Meal Menu</h1>
        <select id="day-selector">
          <option value="Monday">Monday</option>
          <option value="Tuesday">Tuesday</option>
          <option value="Wednesday">Wednesday</option>
          <option value="Thursday">Thursday</option>
          <option value="Friday">Friday</option>
          <option value="Saturday">Saturday</option>
          <option value="Sunday">Sunday</option>
        </select>
        <div id="menu-items"></div>
      </div>
      
</body>
</html>