<html>
    <body>
        <p>Main Menu</p>
        {% for item in mains %}
            <tr>
                <td>Name : {{ item.main_item_name }}</td>
                <td>Day : {{ item.day_of_the_week }}</td>
                <td>Type : {{ item.type_of_meal }}</td>
            </tr>
            <p>--------</p>
        {% endfor %}
        <br>
        <p>Extras Menu</p>
        {% for extra in extras %}
            <tr>
                <td>Name : {{ extra.extras_name }}</td>
                <td>Price : {{ extra.extras_price }}</td>
                <form action=" " method = "POST">
                    {%csrf_token%}
                    <label for="quantity">Quantity (bw 1 and 10):</label>
                    <input type="number" id="quantity" name="quantity" min="1" max="10">
                    <input type="hidden" name="id" value="{{extra.id}}">
                    <input type="submit" value="Add Extra">
                </form>
            </tr>
            <p>--------</p>
        {% endfor %}
        <br>
        <p>Extras Added</p>
        {% for add in extra_added %}
            <p>{{forloop.counter}}</p>
            <br>
            <tr>
                <td>Name : {{ add.item_name }}</td>
                <td>Price : {{ add.item_price }}</td>
                <td>Quantity : {{add.quantity}}</td>
            </tr>
            <p>--------</p>
        {% endfor %}
        <p>Total : {{total_price}}</p>
    </body>
</html>