<html>
  <body>
    {% load crispy_forms_tags %}
    <div class="container p-5">
      <h2 class="font-weight-bold mt-3">Reset Password</h2>
   <hr>
   <p>Forgotten your password? Enter your username below, and we'll send instructions for setting a new one to your email.</p>
       <form action = " " method="POST">
           {% csrf_token %}
           {{ password_reset_form|crispy }}                  
           <button class="btn btn-primary" type="submit">Send email</button>
       </form>
   </div> 
  </body>
</html>