<!DOCTYPE html>
<head>
    <li>Date Published : {{ query_main.date }}</li>
        <li>{{ query_main.username }}</li>
        <li>{{ query_main.email }}</li>
        <li>Query : {{ query_main.query }}</li>
    <li>-......-</li>
    <form action="" method="POST">
        {% csrf_token %}
        <textarea name="response" rows="6" placeholder="Comment"></textarea>
        <input type="hidden" name="id_map" value="{{query_main.id}}">
        <button type = "submit">submit</button>
    </form>
    {% for response in query_response %}
        <li>Date Published : {{ response.date }}</li>
        <li>{{ response.username }}</li>
        <li>{{ response.email }}</li>
        <li>Response : {{ response.response }}</li>
        <li>-----</li>
    {% endfor %}
</head>
</html>