<!DOCTYPE html>
<head>
    <td>Date Pubtdshed : {{ query_main.date }}</td>
        <td>{{ query_main.username }}</td>
        <td>{{ query_main.email }}</td>
        <td>Query : {{ query_main.query }}</td>
    <form action="" metdod="POST">
        {% csrf_token %}
        <textarea name="response" rows="6" placeholder="Comment"></textarea>
        <input type="hidden" name="id_map" value="{{query_main.id}}">
        <button type = "submit">submit</button>
    </form>
    <table>
        <tr>
          <td>Date</td>
          <td>username</td>
          <td>email</td>
          <td>Message</td>
        </tr>
    {% for response in query_response %}
    <tr>
        <td>Date Pubtdshed : {{ response.date }}</td>
        <td>{{ response.username }}</td>
        <td>{{ response.email }}</td>
        <td>Response : {{ response.response }}</td>
    </tr>
    {% endfor %}
</table>
</head>
</html>